
.logos-wrapper{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 8%;
    left: 40%;
}

.logo-ctn{
    margin: 0.1vw;
}

.logo {
    height: 4vh;
    width: 2.5vw;
    cursor: pointer;
}