.offer-wrapper{
    height: 20rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.img:hover{
    transform: scale(1.09);
    transition: 0.5s;
}


.img{
    margin-top: 20px;
    height: 23vh;
    width: 18vw;
    border-radius: 1vh;
    box-shadow: 1px 1px 5px gray;
}


.lable{
    font-size: 1.6rem;
    margin: 7px 5px;
    font-family: 'Main-heading-font';
}

.discount {
    font-size: 1.1rem;
}
