.text-link-field-wrapper {
    border-bottom: 1px solid rgb(255, 255, 255);
    height: 7vh;
    padding: 30px;
    
}

.text-link-field {
    font-size: 12px;
    font-family: 'Main-heading-font';
    font-weight: 800;
    color: rgb(77, 75, 75);
}